@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100%;
    background-color: rgb(255,255,255);
}

/* This is the code for the nav bar*/
 .navbar{
    background-color: rgb(0,0,0);
    border-bottom:1px solid black;
        }

.nav-item:hover{
    background-color:rgb(255,255,255);
        }

.nav-link{
    font-size: 1.5em;
    color:rgb(255,255,255);
        }

.nav-link:hover{
    color:rgb(0,0,0);
        }

.btn-outline{
    color:rgb(255,255,255);
    border:1px solid white;
    padding:0 1em;
        }

.btn-outline:hover{
    background-color:rgb(255,255,255);
        }

.draw-result{
    margin-top:2.5em;
    margin-left:0.7em;
    color:rgb(255,255,255);
    font-size:2.5em;
    font-weight:300;
}

.container-lg{
    border:2px solid black;
    background-color:rgb(255,255,255);
    overflow:auto;
    margin-bottom:1.5em;
    margin-top:6em;
}


.edit-container{
    border:2px solid black;
    background-color:rgb(255,255,255);
    overflow:auto;
    margin-bottom:1.5em;
    width:1000px;
    margin-top:6em;
}

.th, td{
    background-color:rgb(255,255,255);
    text-align: center;
    padding: 8px;
    border: 2px solid #ccc;
}

table {
    width:95%;
    margin:auto;
    margin-bottom: 2em;
    margin-top:0em;
  }

th{
    background-color: #f2f2f2;
    border: 2px solid #ccc;


}

.navbar-toggler-icon{
    background-color:rgb(255,255,255);
}

nav .btn-outline{
    display:inline-block;
}

/* Headings*/
h1{
    font-size:2em;
    font-weight:600;
    color:rgb(255,255,255);
    text-align:center;
    margin-left:2em;
}

h2{
    font-size:2em;
    font-weight:600;
    color:rgb(0,0,0);
    text-align:center;
    margin-top:1em;
    margin-left:2em;
}

h3{
    font-size:2.5em;
    font-weight:300;
    color: rgb(255,255,255);
}

h5{
    font-size:2em;
    font-weight:600;
    color:rgb(0,0,0);

}

/*banner*/
.grad-container{
    background-image:linear-gradient(black, white);
    height:1200px;
}

.nzhandball{
    margin-left:4em;
    margin-top:3em;
    width:50%;
}

/*Homepage columns*/
.column {
    float: left;
}

.left{
  width: 67%;
}

.right{
    width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left-wgtn{
    width:31.8%;
    margin-right: 1em;
    background-color:white;
    border:5px solid rgb(252, 219, 3);
}

.middle-wgtn{
    width:31.8%;
    margin-right: 1em;
    background-color:white;
    border:5px solid rgb(252, 219, 3);
}

.right-wgtn{
    width:31.8%;
    margin-right: 1em;
    background-color:white;
    border:5px solid rgb(252, 219, 3);
}

.left-chch{
    width:50%;
}

.right-chch{
    width:50%;
}

.left-box{
    width:72%;
    margin-top:0.5em;
}

.right-box{
    width:28%;
    margin-top:0.6em;

}

/* About History of Handball style code*/
.hr-lines{
    position: relative;
    max-width: 800px;
}

.hr-lines:before{
    content:" ";
    height: 2px;
    width: 150px;
    background:red;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.hr-lines:after{
    content:" ";
    height: 2px;
    width: 150px;
    background:red;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}


.about-text{
    margin-left:3em;
    margin-right:2em;
    font-size:1.15em;
    color:rgb(255,255,255);
}

.about-dun{
    margin-left:0em;
    font-size:1.15em;
    color:rgb(255,255,255);
}

.history{
    color:rgb(0,0,0);
    margin-left:3em;
    font-size:1.15em;
    margin-right:4.5em;
    margin-top:0em;
}

.history-2{
    color:rgb(0,0,0);
    font-size:1.15em;
    margin-right:4.5em;
    margin-left:3em;
    margin-top:0em;
}

.hr-lines-2{
    position: relative;
    max-width: 800px;
}
.hr-lines-2:before{
    content:" ";
    height: 2px;
    width: 205px;
    background:green;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.hr-lines-2:after{
    content:" ";
    height: 2px;
    width: 205px;
    background:green;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

/* Upcoming events style code*/

.box{
    width: 100%;
    margin-bottom:1em;
    margin-right:2em;
    text-align: center;
    height:307px;
    }

.top{
    background-color:#aaa;
    }

.middle{
    background-color:#bbb;
    }

.bottom{
    background-color:#ccc;

    }

.events{
    font-size:1.3em;
    font-weight:600;
}

.event-photo{
    border: 5px solid rgb(255,255,255);
    max-width:94%;
    margin-bottom: 1em;
}

.date{
    font-size:1.2em;
    font-weight:600;
}

.footer-content{
    background-color: rgb(0,0,0);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color:white;
    position:absolute;
    width: 100%;
    display:block;
}

.footer-content p:first-child{
    font-weight:600;
    font-size: 1.5em;
}

.heading{
    position:absolute;
    position:relative;
    text-align:center;
    font-size: 3em;
    color: rgb(255,255,255);
    margin-top:0em;
}


.heading-2{
   position:absolute;
   position:relative;
   text-align:center;
   font-size: 3em;
   color: rgb(0,0,0);
   margin-top:0em;
}


.rules{
    font-size:1.2em;
    margin-left:6em;
    margin-right:2em;
    color:rgb(0,0,0);
}

.col-7{
    width: 100%;
    padding: 10px;
}

.col-9 {
   float:left;
   position:absolute;
   position:relative;
   width: 65%;
   padding: 20px;

   }

.col-10 {
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left:0em;
    margin-right:2em;

   }



.subtitle-box{
    background-color: rgb(141,228,97);
    width:100%;
    margin-top:7em;
    height:5px;
    }

.subtitle-box-2{
   background-color: green;
   width:100%px;
   margin-top:0em;
   height:5px;
   }


.learn-hb{
    font-size:1.5em;
    text-align:center;
    margin-left:3.5em;
    margin-right:5em;
    color:rgb(255,255,255);
}

.col-8{
    float:left;
    width:20%;
    margin-right:0em;
    margin-left:10em;
}

.info{
    font-size:1.5em;
    font-weight:600;
}

.htp-banner{
   font-size:5em;
   color:rgb(255,255,255);
   margin-top:-0.3em;
   font-family: 'Roboto Condensed', sans-serif;
}

.shooter{
   float:left;
   width:150px;
   margin-left:2em;
   margin-top:2em;
   margin-right:1em;
}

.ep-col{
    float:left;
    margin-top:7em;
    width:27%;
}

.header{
    font-size:1.2em;
    color:rgb(0,0,0);
}

.ep-container{
    background-color:white;
    height:300px;
    border:3px solid black;
}

.calendar-icon{
    margin-top:1em;
    width:50px;
}

.location-icon{
    width:25px;
    margin-top:13em;
    float:left;
    margin-left:-2.38em;
}

.calendar-text{
    font-size:1em;
    margin-left:3.3em;
    margin-top:-1.6em;
    margin-right:9em;
}

.location-text{
    font-size:1em;
    float:left;
    margin-top:11.2em;
}


.ep-images{
    width:365px;
}

/*News page*/

.subtitle{
    font-size: 1.5em;
    border-bottom: 1px solid gray;
    color: gray;
}

.news-text{
    font-size: 1.25em;
}
.news-meta{
    text-align: end;
    font-weight: bold;
}

.draw-meta{
    text-align: end;
    font-weight: bold;
    margin-right:2.9em;
    margin-bottom:2em;
}

.btn{
    font-size: 1.3em;
    --bs-btn-padding-y:0.1em;
    margin-top:0.5em;
}


.signup{
      font-size: 2.5em;
    --bs-btn-padding-y:0.1em;
    margin-top:0.5em;
}

.news{
    max-width:600px;
}

.login{
    max-width: 500px;
    border-radius: 1em;
}

signup{
    max-width:550px;
}

.htp-box{
    background-color:rgb(255,255,255,0)
}

.btn-su{
    font-size:1em;
}

.btn-reset{
    font-size:0.8em;
    margin-right:0.15em;
}

.logged{
    width:30%;
    float:right;
    margin-right:1em;
}


/* signup form */
label, input[type='text'], input[type='email'], textarea{
font-size: 1.2em !important;
}

form p{
    font-size: 1em;

}

.session{
    background-color: white;
    color:black;
    text-align:center;
    font-size: 1.5em;
}

.myDiv{
	display:none;
    margin-top:5em;
    margin-left: 2em;
}

#showOne{
    padding:10px;
}

#showTwo{
    padding:10px;
}

#showThree{
    padding:10px;
}

.radio{
    color:rgb(255,255,255);
}

.column-wgtn{
    float: left;
    width: 31.8%;
    margin-right: 1em;
    background-color:white;
    border:5px solid rgb(252, 219, 3);
);

}
.column-chch{
    float: left;
    width: 47%;
    margin-right: 1em;
}

.wgtn{
    font-size:5em;
    margin-top:-0.3em;
    font-family: 'Roboto Condensed', sans-serif;
    color:rgb(0,0,0);
    text-shadow: -0.5px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

.chch{
    font-size:5em;
    margin-top:-0.3em;
    font-family: 'Roboto Condensed', sans-serif;
    color:rgb(0,0,0);
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.dun{
    font-size:5em;
    margin-top:-0.3em;
    font-family: 'Roboto Condensed', sans-serif;
    color:rgb(0,0,0);
    text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

.chch-photo{
    max-width:80%;
    border: 5px solid rgb(0,0,0);

}

.wgtn-para{
    color:rgb(255,255,255);
}

/* Clear floats after the columns */
.row-regions:after {
  content: "";
  display: table;
  clear: both;
}

.clubs{
    border:3px solid rgb(0,0,0);
}



@media only screen and (max-width:768px) {
    .body-text , .quote{
        font-size:1.5em;
    }

    h1{
        font-size:1.5em;
        text-align:start;
        margin-left:1em;
}

    .about-text{
        font-size:1em;
        margin-left: 1.5em;
    }

    .history{
        font-size:1em;
        margin-left: 1.5em;
    }

    .history-2{
        font-size:1em;
        margin-left: 1.5em;
    }

    h2{
        font-size:1.5em;
        text-align:start;
        margin-left:1em;
}

    h3{
        color:rgb(0,0,0);
        margin-left: 0.5em;
        font-size: 2em;
}

    .column {
        width: 100%;
        margin-top:2em;
  }

     .hr-lines:before{
        content:" ";
        height: 0px;
        width: 0px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
}

    .hr-lines:after{
        content:" ";
        height: 0px;
        width: 0px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
}

    .hr-lines-2:before{
        content:" ";
        height: 0px;
        width: 0px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
}

    .hr-lines-2:after{
        content:" ";
        height: 0px;
        width: 0px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
}

    .box{
        align-content: center;
        width:100%;
        height:auto;
    }

    .wgtn{
        font-size:3em;
        margin-left:0em;
        text-align: start;
}
    .chch{
        font-size:3em;
    }

    .dun{
        font-size:3em;
    }




    .learn-hb{
        text-align: start;
        margin-left:1em;
        font-size:1em;
    }
    .heading{
        text-align: start;
        margin-left:1em;
        font-size:2em;
    }

    .col-8{
    float:left;
    width:20%;
    margin-right:0em;
    margin-left:3em;

}

    .info{
        font-size:1em;
    }

    .rules{
        font-size:1em;
        margin-left:1em;
        margin-right:2em;
        margin-top:0em;
}

    .heading-2{
        font-size:2em;
        text-align:start;
        margin-left:1em;
    }


    .htp-photo{
        width:100%;
        margin-left:1em;

    }

    .about-dun{
        margin-left:0em;
        font-size:1em;
        color:rgb(255,255,255);
}
    .court{
        max-width:50%;
    }

    .left-wgtn{
        max-width:94%;
        margin-left: 1em;
    }
    .middle-wgtn{
        max-width:94%;
        margin-left: 1em;

    }
    .right-wgtn{
        max-width:94%;
        margin-left: 1em;
    }

    .chch-photo{
        max-width:94%;
    }

    .myDiv{
        display:none;
        margin-top:5em;
        margin-left: 0em;
}

     .left-box{
         margin-top:0.5em;
         margin-left:0.5em;
         text-align: start;

    }

    .right-box{
        text-align: start;
        margin-top:0em;
        margin-left: 0.5em;
    }

    table{
        font-size:0.6em;

    }




}

@media only screen and (max-width:576px) {

     .column {
    width: 100%;
  }

    .hr-lines:before{
        content:" ";
        height: 0px;
        width: 0px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
}

    .hr-lines:after{
        content:" ";
        height: 0px;
        width: 0px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
}

    .hr-lines-2:before{
        content:" ";
        height: 0px;
        width: 0px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
}

    .hr-lines-2:after{
        content:" ";
        height: 0px;
        width: 0px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;bo
}

    h1{
        font-size:1.5em;
        text-align:start;
        margin-left:1em;
}

    about-text{
        font-size:0.5em;
        margin-left: 1em;
    }

}