@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100%;
    background-color: rgb(255,255,255);
}

/* This is the code for the nav bar*/
 .navbar{
    background-color: rgb(0,0,0);
    border-bottom:1px solid black;
        }
        
.nav-item:hover{
    background-color:rgb(255,255,255);
        }
        
.nav-link{
    font-size: 1.5em;
    color:rgb(255,255,255);
        }
        
.nav-link:hover{
    color:rgb(0,0,0);
        }
        
.btn-outline{
    color:rgb(255,255,255);
    border:1px solid white;
    padding:0 1em; 
        }
        
.btn-outline:hover{
    background-color:rgb(255,255,255);
        }

.draw-title{
    margin-top:2.5em;
    margin-left:0.7em;
}

.container-lg{
    border:2px solid black;
    background-color:rgb(255,255,255);
    overflow:auto;
    margin-bottom:1.5em;
    width:650px;
    margin-top:6em;
}

.th, td{
    background-color:rgb(255,255,255);
    text-align: center;
    padding: 8px;
    border: 2px solid #ccc;
}

table {
    width:95%;
    margin:auto;
    margin-bottom: 2em;
    margin-top:0em;
  }

th{
    background-color: #f2f2f2;
    border: 2px solid #ccc;


}

.navbar-toggler-icon{
    background-color:rgb(255,255,255);  
}

nav .btn-outline{
    display:inline-block;
}

/* Headings*/
h1{
    font-size:2em;
    font-weight:600;
    color:rgb(255,255,255);
    text-align:center;
    margin-left:2em;
}

h2{
    font-size:2em;
    font-weight:600;
    color:rgb(0,0,0);
    text-align:center;
    margin-left:2em;
    margin-top:1em;
}

h3{
    font-size:2.5em;
    color:rgb(255,255,255);
    font-weight:300;
}

h5{
    font-size:2em;
    font-weight:600;
    color:rgb(0,0,0);

}

/*banner*/
.grad-container{
    background-image:linear-gradient(black, white);
    height:1200px;
}

.nzhandball{
    margin-left:4em;
    margin-top:3em;
    width:50%;
}

/*Homepage columns*/
 .left-column {
    float:left;
    position:absolute;
    position:relative;
    width: 67%;
    padding: 20px;
    margin-top:4em;
    }

.right-column {
     width: 30%;
     padding: 20px;
     display: flex;
     flex-direction: column;
     margin-left:0em;
     margin-right:2em;
     margin-top:4em;
    }

/* About/History of Handball style code*/

.hr-lines{
    position: relative;
    max-width: 800px;
}

.hr-lines:before{
    content:" ";
    height: 2px;
    width: 150px;
    background:red;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.hr-lines:after{
    content:" ";
    height: 2px;
    width: 150px;
    background:red;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.about-text{
    margin-left:3em;
    margin-right:2em;
    font-size:1.15em;
    color:rgb(255,255,255);
}

.history{
    color:rgb(0,0,0);
    margin-left:3em;
    font-size:1.15em;
    margin-right:4.5em;
    margin-top:0em;
}

.history-2{
    color:rgb(0,0,0);
    font-size:1.15em;
    margin-right:4.5em;
    margin-left:3em;
    margin-top:0em;
}

.hr-lines-2{
    position: relative;
    max-width: 800px;
}
.hr-lines-2:before{
    content:" ";
    height: 2px;
    width: 205px;
    background:green;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.hr-lines-2:after{
    content:" ";
    height: 2px;
    width: 205px;
    background:green;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

/* Upcoming events style code*/

.box{
    width: 100%;
    margin-bottom:1em;
    margin-right:2em;
    text-align: center;
    height:304px;
    width:430px;
    }

.top{
    background-color:#aaa;
    }

.middle{
    background-color:#bbb;
    }

.bottom{
    background-color:#ccc;

    }

.events{
    float: left;
    font-size:1.3em;
    font-weight:bold;
    margin-top:0.8em;
    margin-left:0.9em;
}

.event-photo{
    width:400px;
    border: 5px solid rgb(255,255,255);
}

.date{
    float: right;
    font-size:1.2em;
    font-weight:bold;
    margin-top:0.9em;
    margin-right:0.9em;
}

.footer-content{
    background-color: rgb(0,0,0);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color:white;
    position:absolute;
    width: 100%;
    display:block;
}

.footer-content p:first-child{
    font-weight:600;
    font-size: 1.5em; 
}

.heading{
    position:absolute;
    position:relative;
    text-align:center;
    font-size: 3em;
    color: rgb(255,255,255);
    margin-top:0em;
}


.heading-2{
   position:absolute;
   position:relative;
   text-align:center;
   font-size: 3em;
   color: rgb(0,0,0);
   margin-top:0em;
}


.rules{
    font-size:1.2em;
    margin-left:6em;
    margin-right:2em;
    color:rgb(0,0,0);
}

.col-7{
    width: 100%;
    padding: 10px;
}

.col-9 {
   float:left;
   position:absolute;
   position:relative;
   width: 65%;
   padding: 20px;

   }

.col-10 {
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left:0em;
    margin-right:2em;

   }

.htp-photo{
    width:325px;
    border: 5px solid green;
}

.subtitle-box{
    background-color: rgb(141,228,97);
    width:1250px;
    margin-top:7em;
    margin-left:5em;
    margin-right:2em;
    height:5px;
    }

.subtitle-box-2{
   background-color: green;
   width:1250px;
   margin-top:0em;
   margin-left:5em;
   margin-right:2em;
   height:5px;
   }


.learn-hb{
    font-size:1.5em;
    text-align:center;
    margin-left:3.5em;
    margin-right:5em;
    color:rgb(255,255,255);
}

.col-8{
    position:absolute;
    position:relative;
    float:left;
    width:20%;
    margin-right:0em;
    margin-left:10em;
}

.info{
    font-size:1.5em;
    font-weight:600;
}

.htp-banner{
   font-size:5em;
   color:rgb(255,255,255);
   margin-top:-0.3em;
   font-family: 'Roboto Condensed', sans-serif;
}

.shooter{
   float:left;
   width:150px;
   margin-left:2em;
   margin-top:2em;
   margin-right:1em;
}

.ep-col{
    float:left;
    margin-top:7em;
    width:25%;
}

.header{
    font-size:1.2em;
    color:rgb(0,0,0);
}

.ep-container{
    background-color:white;
    margin-left:2em;
    height:300px;
    border:3px solid black;
}

.calendar-icon{
    margin-top:1em;
    width:50px;

}


.location-icon{
    width:25px;
    margin-top:13em;
    float:left;
    margin-left:-2.38em;
}

.calendar-text{
    font-size:1em;
    margin-left:3.3em;
    margin-top:-1.6em;
    margin-right:9em;
}

.location-text{
    font-size:1em;
    float:left;
    margin-top:11.2em;
}


.ep-images{
    width:300px;
    margin-left:0.9em;
}

/*News page*/

.subtitle{
    font-size: 1.5em;
    border-bottom: 1px solid gray;
    color: gray;
}

.news{
    max-width: 600px;
    background-color: ;
    border-radius: 1em;

}
.news-text{
    font-size: 1.25em;
}
.news-meta{
    text-align: end;
    font-weight: bold;
}

.draw-meta{
    text-align: end;
    font-weight: bold;
    margin-right:2.9em;
    margin-bottom:2em;
}

.btn{
    font-size: 1.3em;
    --bs-btn-padding-y:0.1em;
    margin-top:0.5em;
}


/* signup form */
label, input[type='text'], input[type='email'], textarea{
font-size: 1.2em !important;
}

form p{
font-size: 1.5em;
}

.session{
    background-color: white;
    color:black;
    text-align:center;
    font-size: 1.5em;
}

@media only screen and (max-width:768px) {
    .body-text , .quote{
        font-size:1.5em;
    }
   
}

@media only screen and (max-width:576px){
    
    h1{
        color:rgb(0,0,0);    
    }
        
    .column-1 {
        width: 436px;
        margin-left:2em;
    }
    
     .column-2 {
        width: 436px;
        margin-left:2em;
    }
    
     .column-3 {
        width: 436px;
        margin-left:2em;
        margin-bottom:0em;
    }
    
      .left-col {
        width: 60%;
        padding: 20px;
        background-color: #f1f1f1;
    }
    
    .date {
        float:right;  
        
    }
    
    h4{
        margin-left:5em;
        color:rgb(0,0,0);
        font-size:1.5em;
        margin-top:0em;
    }
    
    h5{
        margin-top:10em;
        font-size:1.5em;
    }
    
    
    .pic{
        width:100%;
    }
    
    .left{
        margin-top:20em;
    }
    
    .history{
        color:rgb(0,0,0);
        font-size:1em;
        margin-left:1em;
    }
    
    .history-2{
        color:rgb(0,0,0);
        font-size:1em;
        margin-left:1em;
    }
    
    .pic{
        margin-bottom:5em;
    }
    
    .hr-lines-2{
        position: relative;
        max-width: 460px;
        margin: 100px auto;
        margin-top:1em;
}
    .hr-lines-2:before{
        content:" ";
        height: 2px;
        width: 85px;
        background:green;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
    }

    .hr-lines-2:after{
        content:" ";
        height: 2px;
        width: 85px;
        background:green;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
}
    
    .hr-lines{
        position: relative;
        max-width: 460px;
        margin: 100px auto;
}

    .hr-lines:before{
        content:" ";
        height: 2px;
        width: 50px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
}

    .hr-lines:after{
        content:" ";
        height: 2px;
        width: 50px;
        background:red;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
}
  




}