{% extends "layout.html" %}

{% block title %}
News with Comments
{% endblock %}

{% block banner %}
{% endblock %}


{% block content %}

  {% for row in news %}
    <div class="news p-2 mb-4">
    <h5>{{ row['title'] }}</h5>
        <div class="subtitle"> {{row ['subtitle']}}</div>
        <p class="news-text"> {{row ['content'] | replace("\n", "<br>") | safe}}  </p>
        <div class="news-meta">Posted by {{ row['firstname'] }} on {{ row['newsdate'] | news_date }}</div>

        {% if session and session['authorisation'] == 0%}
        <div class="news-meta">
            <a class="btn btn-primary" href="{{ url_for('news_formpage', id=row['news_id'], task='update') }}">Update</a>
            <a class="btn btn-primary" href="{{ url_for('news_formpage', id=row['news_id'], task='delete') }}">Delete</a>
        </div>
        {% endif %}
    </div>

    {% endfor %}
{% for row in comments %}
 <h5>{{ row['title'] }}</h5>
 <h5>{{ row[''] }}</h5>
 <h5>{{ row[''] }}</h5>
{% endfor %}

{% endblock %}