{% extends "layout.html" %}

{% block title %}
Draw
{% endblock %}

{% block banner %}
{% endblock %}


{% block content %}
<img class="shooter" src="static/images/small_banner.png">
<p class="htp-banner">DRAW</p>


<h3 class="draw-title">Women's league draw</h3>
           <div class="p-4 mt-2 text-end">
               {% if session and session['authorisation'] == 0 %}
               <a class="btn btn-primary add-btn" href="{{ url_for('editdraw_page', id=0, task='add') }}">Add News</a>
               {% endif %}
               </div>


{% if session and session['authorisation'] == 0 %}
{% for row in draw %}
<table>
<tr>
<th>Date</th>
<th>Opponent 1</th>
<th>Opponent 2</th>
<th>Location</th>
<th>Time</th>
</tr>
<tr>
<td>{{row['gamedate']}}</td>
<td>{{row['teamone']}}</td>
<td>{{row['teamtwo']}}</td>
<td>{{row['location']}}</td>
<td>{{row['gametime']}}</td>
</tr>
<!-- Add more rows for additional games -->
<div class="news-meta">
         <a class="btn btn-primary" href="{{ url_for('editdraw_page', id=row['program_id'], task='update') }}">Update</a>
         <a class="btn btn-primary" href="{{ url_for('editdraw_page', id=row['program_id'], task='delete') }}">Delete</a>
</div>
{% endfor %}
</table>
{% endif %}


{% if session and session['authorisation'] != 0%}
<table>
<tr>
<th>Date</th>
<th>Opponent 1</th>
<th>Opponent 2</th>
<th>Location</th>
<th>Time</th>
</tr>
{% for row in draw %}
<tr>
<td>{{row['gamedate']}}</td>
<td>{{row['teamone']}}</td>
<td>{{row['teamtwo']}}</td>
<td>{{row['location']}}</td>
<td>{{row['gametime']}}</td>
</tr>

{% endfor %}
        </table>
{% endif %}


{% if 'member_id' not in session %}
<table>
<tr>
<th>Date</th>
<th>Opponent 1</th>
<th>Opponent 2</th>
<th>Location</th>
<th>Time</th>
</tr>
{% for row in draw %}
<tr>
<td>{{row['gamedate']}}</td>
<td>{{row['teamone']}}</td>
<td>{{row['teamtwo']}}</td>
<td>{{row['location']}}</td>
<td>{{row['gametime']}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
