{% extends "layout.html" %}

{% block title %}
Events
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}
<img class="shooter" src="static/images/small_banner.png">
<p class="htp-banner">EVENTS</p>

<div class="ep-col">
    <div class="ep-container">
    <p class="header">National Club Championship</p>
<img class="ep-images" src="static/images/vicuniteamphoto.png">
        <div class="calendar-col">
        <img class="calendar-icon" src="static/images/calendar.webp">
        </div>

        <p class="calendar-text">8-10 September</p>

        <img class="location-icon" src="static/images/location.png">
         <p class="location-text"></p>

    </div>
</div>

<div class="ep-col">
     <div class="ep-container">
    <p class="header">National Club Championship</p>
         <img class="calendar-icon" src="static/images/calendar.webp">
         <p class="calendar-text"></p>
         <img class="location-icon" src="static/images/location.png">
              <p class="location-text"></p>
     </div>
</div>

<div class="ep-col">
      <div class="ep-container">
    <p class="header">National Club Championship</p>
          <img class="calendar-icon" src="static/images/calendar.webp">
            <p class="calendar-text"></p>
          <img class="location-icon" src="static/images/location.png">
            <p class="location-text"></p>
      </div>
</div>


<p>WOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOP
WOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOP
    WOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOP
    WOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOP
    WOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOP
    WOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOPWOOP
</p>


{% endblock %}