{% extends "layout.html" %}

{% block title %}
How to play
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}

<img class="shooter" src="static/images/small_banner.png">
<p class="htp-banner">HOW TO PLAY</p>

        <div class="col-7">
            <div class="subtitle-box"></div>
        </div>

    <p class="heading">Beginner Trainings</p>

    <p class="learn-hb">If you want to learn how to play handball, there are currently trainings every
        sunday from 12-2pm. These trainings are designed for people at any skill level who are wanting to give handball a go. </p>

    <div class="col-8">
        <p class="info">When: Sunday 12-2pm </p>
    </div>

    <div class="col-8">
        <p class="info">Where: Akau Tangi Sports Centre</p>
    </div>

    <div class="col-8">
        <p class="info">Who: Everyone</p>
    </div>

    <div class="col-7">
    <div class="subtitle-box"></div>
    </div>

    <div class="col-7">
    <div class="subtitle-box-2"></div>
    </div>

    <p class="heading-2">Main Rules of Handball</p>

    <div class="col-9">
    <p class="rules">1. Players can take pass,dribble or shoot when they are in possession of the ball.
        When not dribbling you can 3 steps with the ball. Note: Players are able to take 3 steps and
        then dribble and then take another 3 steps. However when the player has stop dribbling and they
        are not allowed to dribble again. Their options are to pass or shoot.</p>
   <p class="rules">2. Only the goalkeeper is allowed to come into contact with the floor of the goal area.
       Other players are not allowed to touch the ball when it is on the ground in the goal area.</p>
   <p class="rules">3. Defensive players may not hold, hit, push or trip an offensive player. Among
       the tactics a defensive player may use to gain control of the ball are using the flat part
       of the hand to knock the ball away from the offensive player, and obstructing the opponent
       with the body, whether or not the player has the ball. It is forbidden to snatch the ball
       with one or both hands or violently strike or slap the ball from an opponent's hands.</p>

    </div>

    <div class="col-10">
    <img class="htp-photo" src="static/images/court.png">
    </div>

    <div class="col-7">
    <div class="subtitle-box-2"></div>
    </div>


{% endblock %}