{% extends "layout.html" %}


{% block title %}
Handball
{% endblock %}

{% block banner %}
static/images/big_banner.jpg
{% endblock %}

{% block content %}
<div class = "big-container">
    <h1> Upcoming Events</h1>

    <div class="row-1">
        <div class="column-1 left">
        <h2 class="events">Auckland Handball Open Champs</h2>
        <h2 class="date">20-21 May</h2>
        <img class="event-photo" src="static/images/auckland_skyline.jpg" alt="Handball shot">
        </div>
    </div>

    <div class="row-2">
        <div class="column-2 middle">
        <h2 class="events">National Club championship</h2>
        <h2 class="date">8-10 Sep</h2>
            <img class="event-photo" src="static/images/vicuniteamphoto.png" alt="Handball shot">
        </div>
    </div>

    <div class="row-3">
        <div class="column-3 right">
            <h2 class="events">National Regional Championship</h2>
            <h2 class="date">7-8 Oct</h2>
                <img class="event-photo" src="static/images/wgtnregional.png" alt="Handball shot">
        </div>
    </div>


    <div class="row-4">
        <div class=column-4>
            <h4 class=hr-lines>About Handball in New Zealand</h4>
                <p class="auck-text">Handball is a growing and developing game in New Zealand. In New Zealand, handball is organised and promoted by the New Zealand Handball Federation (NZHF). The New Zealand Handball Federation oversees the development of the sport at various levels. In New Zealand there are a lot the initiatives that people put in place to encourage youth participation and player development. There are local handball clubs and regional leagues that provide opportunities for players of all ages and skill levels to engage in the sport. With its growing presence, handball in New Zealand offers many opportunities for athletes to showcase their skills, in a vibrant and competitive environment. Because Handball is still a small sport in New Zealand, it provides lots of opportunities for advanced and beginner players.
        </p>

            <h5 class=hr-lines-2>History behind Handball</h5>
                <p class="history">Handball started in the late 1800s. It began as different ball games played in Europe, but the modern version took shape in Denmark. A Danish teacher named Holger Nielsen created the official rules in 1906, combining elements from football and basketball. People loved the game, and it spread across Europe. The first international matches were played in the 1920s. In 1946, the International Handball Federation (IHF) was created to oversee the sport worldwide. Handball has changed over time with new rules, better equipment, and more professional players. Handball is now played in big events like the Olympics and the World Championships.
                </p>

                <p class="history-2"> Handball in New Zealand has a relatively recent history. The sport gained traction in the late 20th century. It was introduced as a way to promote teamwork, coordination, and physical activity. The New Zealand Handball Federation (NZHF) was established in 1981 to manage and to help develop the sport at a national level. Since then, handball has steadily grown in popularity, with more clubs and competitions emerging across the country. The NZHF actively promotes handball through various initiatives, including coaching programs and participation in international tournaments. While handball may not be as prominent as other sports in New Zealand, it continues to attract enthusiasts and players who are passionate about the game.
                </p>

        </div>
    </div>
</div>

{% endblock %}