{% extends "layout.html" %}

{% block title %}
News
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<!-- banner -->
<img class="shooter" src="static/images/small_banner.png" alt="Logo: Outline of player shooting">
<p class="htp-banner">NEWS</p>

<div class="container-lg news">
         <!-- subheading for page -->
        <h2 class="mb-3 ms-0">Please enter/update your news item</h2>

         <!-- form  -->
        <form action="{{url_for('news_formpage', id=id, task=task)}}" method="POST">

            <!-- enter title -->
            <div>
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="" value="{{title}}" required>
            </div>

             <!-- enter subtitle -->
            <div>
                <label for="subtitle" class="form-label">Subtitle</label>
                <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="" value="{{subtitle}}" required>
            </div>

             <!-- enter content -->
            <div>
                <label for="content" class="form-label">News content</label>
                <textarea class="form-control" id="content" name="content" rows="7" required> {{content}} </textarea>
            </div>

             <!-- submit button -->
            <div class="text-end">
                <button type="reset" class="btn btn-primary mb-3">Reset</button>
                <button  type="submit" class="btn btn-primary mb-3" >Submit</button>
            </div>
        </form>
</div>
{% endblock %}