{% extends "layout.html" %}

{% block title %}
Sign up
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<img class="shooter" src="static/images/small_banner.png" alt="Logo: Outline of player shooting">
<p class="htp-banner region-banner">SIGN UP</p>

<div class="container-lg signup">
    <p class="body-text">Sign up to see all the updates you need for your team.</p>
</div>

<div class="container-lg p-3">
    <form action="{{url_for('signup')}}" method ="POST">
        <div>
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" value="{{firstname}}" required>
        </div>

        <div>
            <label for="secondname" class="form-label">Second Name</label>
            <input type="text" class="form-control" id="secondname" name="secondname" placeholder="" value="{{secondname}}" required>
        </div>

        <div>
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="" value="{{username}}" required>
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" value="{{password}}" required>
        </div>

        <div>
            <label for="authorisation" class="form-label">Authorisation No.</label>
            <input id="authorisation" class="form-control" name="authorisation" placeholder="" value="{{authorisation}}">
        </div>

           <div class="text-end">
                <button type="reset" class="btn btn-secondary btn-reset">Reset</button>
            </div>
            <div>
                <!-- submit button that is disabled until fields above entered -->
                <input type="submit" value="Sign Up" class="btn btn-primary w-100 mt-1" disabled>
            </div>
            <div class="text-center mt-4">
                <p class="mb-0"> Already have an account?</p>
                <a class="btn btn-primary btn-su mt-0" href="{{ url_for('login', id=0, task='add') }}">Log in</a>
            </div>
    </form>
</div>


{% endblock %}
